<div class="row">
  <div class="col-xs-12" style="margin-top: 80px;">
    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPostP" placeholder="Precio..." [(ngModel)]="filterPostP">
        </div>
      </div>
    </div>
    <h1 style="text-align: center; color: #0CC749;">Precio</h1>
    <!--- <app-shopping-edit></app-shopping-edit> --->

    <ul class="list-group" style="margin-top: 20px;">
      <a
        class="list-group-item"
        style="..."
        *ngFor="let posts of posts | filterPrecio: filterPostP"
      >
        <div class="row">
          <div class="col-xs-10" style="height: auto; max-height: 150px;">
            <h3>{{ posts.name }} </h3>
            <p>{{ posts.description }}</p>

            <p>Status: {{ posts.status }}</p>
            <h5>Precio: {{ posts.precio }}</h5>
          </div>

          <div class="col-xs-2">
            <span class="pull-right">
              <img
                      src="{{ posts.imagePath }}"
                      alt="{{ posts.name }}"
                      class="img-responsive"
                      style="max-height: 140px;">
            </span>
          </div>
        </div>
      </a>
    </ul>
  </div>
</div>