<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="tractorForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
                  type="submit"
                  class="btn btn-success"
                  [disabled]="!tractorForm.valid">Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control"
            placeholder="Nombre de modelo del tractor">
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label for="precio">Precio por Hora ($ MXN)</label>
            <input
                    type="number"
                    min = "1"
                    max = "999999"
                    id="precio"
                    formControlName="precio"
                    class="form-control" placeholder="$1,500">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="name">Horas de trabajo de la máquina</label>
            <input
                    type="text"
                    id="name"
                    formControlName="name"
                    class="form-control"
                    placeholder="999,999">
          </div>
        </div>

        <div class="col-xs-6">
          <div class="form-group">
            <label for="typeSelector">Tipo de Maquinaria</label>
            <select class="form-control" id="typeSelector">
              <option>Tractor</option>
              <option>Empacadora</option>
              <option>Cosechadora</option>
              <option>Sembradora</option>
              <option>Arado</option>
              <option>Rastra</option>
              <option>Aspersor</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label for="imagePath">URL de imagen (link)</label>
            <input
                    type="text"
                    id="imagePath"
                    formControlName="imagePath"
                    class="form-control"
                    #imagePath>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <textarea
                    type="text"
                    id="description"
                    class="form-control"
                    formControlName="description"
                    rows="6"></textarea>
          </div>
        </div>

        <div class="col-xs-6">
          <img [src]="imagePath.value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">

        </div>
      </div>

      <div class="row" style="display: none;">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">Status</label>
            <input
                    type="text"
                    id="status"
                    formControlName="status"
                    class="form-control"
                    placeholder="Pendiente"
                    value="Pendiente"
                    disabled>
          </div>
        </div>
      </div>

      <!--- Características Tractor --->
      <div class="row caracteristicas" id="caracteristicasTractor" style="display: none;">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">Potencia del Tractor</label>
            <select class="form-control" id="powerSelector">
              <option>43-60 hp</option>
              <option>75-85 hp</option>
              <option>112-132 hp</option>
            </select>
          </div>
        </div>
      </div>

      <!--- Características Empacadora --->
      <div class="row caracteristicas" id="caracteristicasEmpacadora" style="display: none;">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="marcaEmpacadoraSelector">Marca</label>
            <select class="form-control" id="marcaEmpacadoraSelector">
              <option>New Holland</option>
              <option>John Deere</option>
            </select>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="form-group">
            <label for="paquetes">Numero de paquetes / día</label>
            <input
                    type="number"
                   min = "1"
                   max = "999999"
                   id="paquetes"
                   formControlName="paquetes"
                   class="form-control" placeholder="100">
          </div>
        </div>
      </div>

      <!--- Características Cosechadora --->
      <div class="row caracteristicas" id="caracteristicasCosechadora" style="display: none;">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="status">Marca</label>
            <select class="form-control" id="marcaCosechadoraSelector">
              <option>Case</option>
              <option>John Deere</option>
            </select>
          </div>
        </div>
      </div>

    </form>
  </div>
</div>

<div id="output-div"></div>
