 <div style="margin-top: 100px;" class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <form (ngSubmit)="onSignup(f)" #f="ngForm">

      <div class="form-group">
        <label for="fName">Nombre</label>
        <input type="text" id="fName" name="fName" ngModel class="form-control">
      </div>

      <div class="form-group">
        <label for="lName">Apellido</label>
        <input type="text" id="lName" name="lName" ngModel class="form-control">
      </div>

      <div class="form-group">
        <label for="localidad">Localidad</label>
        <input type="text" id="localidad" name="localidad" ngModel class="form-control">
      </div>

      <div class="form-group">
        <label for="numeroTel">Numero telefonico</label>
        <input type="number" id="numeroTel" name="numeroTel" ngModel class="form-control">
      </div>

      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control">
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input
                type="password"
                id="password"
                name="password"
                ngModel
                class="form-control">
      </div>

      <div class="form-group">
        <label for="type">Tipo de cuenta <i class="fas fa-info-circle" id="info"></i></label>
        <div class='col-ms-12' id="tipoCuenta-info" style="display: none;">
          <p>Selecciona Arrendador si deseas <b>rentar maquinaria</b></p>
          <p>Selecciona Arrendatario si deseas <b>poner a trabjar maquinaria</b></p>
        </div>
        <select class="form-control" id="type" name="type" >
            <option>Arrendador</option>
            <option>Arrendatario</option>
        </select>
      </div>

      <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Sign Up</button>
    </form>
  </div>


