<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <form form [formGroup]="signupForm" (ngSubmit)="onSignup(f)" #f="ngForm"  style="width: 50%; margin: auto; margin-top: 80px;">
      <h1 id="titulo">Registrate</h1>
      <div class="form-group">
        <label for="name">Nombre</label>
             <input type="text" id="name" formControlName="name" ngModel class="form-control" placeholder="Juan" required="required"> 
      </div>
      <div class="form-group">
        <label for="lastname">Apellidos</label>
        <input type="text" id="lastname" formControlName="lastname" ngModel class="form-control" placeholder="Escutia" required="required">
      </div>
      <div class="form-group">
        <label for="localidad">Localidad</label>
        <input type="text" id="localidad" formControlName="localidad" ngModel class="form-control"
               placeholder="Atlacomulco, Estado de México" required="required">
      </div>
      <div class="form-group">
        <label for="number">Teléfono</label>
        <input type="number" id="number" formControlName="number" ngModel
               class="form-control input-medium bfh-phone"
               data-country="MX"
               placeholder="7225738901"
               maxlength="10"
               data-fv-numeric="true"
               data-fv-numeric-message="Please enter valid phone numbers"
               required="required"
        >
      </div>
      <div class="form-group">
        <label for="mail">Mail</label>
        <input type="mail" id="mail" formControlName="mail" ngModel class="form-control" placeholder="juan.escutia@gmail.com">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" formControlName="password" ngModel class="form-control" placeholder="********">
      </div>
      <div class="form-group">
        <label for="type">Selecciona el Tipo de Cuenta:</label>
        <select formControlName="type" class="form-control" id="type">
          <option>Arrendador</option>
          <option>Arrendatario</option>
        </select>
      </div>
      <button class="btn" id="signup-button" type="submit"  click="create(policy.name)" (click)="onSaveDataSignup()">Registrar</button>
    </form>
  </div>
</div>
