<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <form (ngSubmit)="onSignup(f)" #f="ngForm" style="width: 50%; margin: auto; margin-top: 100px;">
      <h1 id="titulo">Registrate</h1>
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" ngModel class="form-control" placeholder="Juan">
      </div>
      <div class="form-group">
        <label for="apellidos">Apellidos</label>
        <input type="text" id="apellidos" name="apellidos" ngModel class="form-control" placeholder="Escutia">
      </div>
      <div class="form-group">
        <label for="localidad">Localidad</label>
        <input type="text" id="localidad" name="localidad" ngModel class="form-control" placeholder="Atlacomulco, Estado de México">
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono</label>
        <input type="tel"
               id="telefono"
               name="telefono"
               ngModel
               class="form-control input-medium bfh-phone"
               data-country="MX"
               placeholder="7225738901">
      </div>
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" ngModel class="form-control" placeholder="juan.escutia@gmail.com">
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" id="password" name="password" ngModel class="form-control" placeholder="********">
      </div>
      <button class="btn" id="signup-button" type="submit">Registrar</button>
    </form>
  </div>
</div>
