<div class="row">
  <div class="col-xs-12" style="position: fixed;">
    <img [src]="tractor.imagePath" alt="{{ tractor.name }}" id="recipe-img" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 style="position: fixed; color: white; margin-left: 20px;">{{ tractor.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
      class="btn-group"
      appDropdown
      style="margin-top: 370px; position: fixed;">
      <button type="button" class="btn btn-success dropdown-toggle">Opciones<span class="caret"></span></button>
      <ul class="dropdown-menu"style="z-index: 10;">
        <li><a (click)="onAddToApartado()" style="cursor: pointer; z-index: 10;">Apartar</a></li>
        <li><a style="cursor: pointer;" (click)="onEditTractor()">Editar Info</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteTractor()">Borrar Maquinaria</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-top: 500px; position: fixed;">
    Descripción: {{ tractor.description }}
    <br>
    Status: {{ tractor.status }}
    <br>
    <br>
  </div>
  <br>
  <div class="col-xs-12" style="margin-top: 500px; position: fixed;">
    Status: {{ tractor.status }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-top: 530px; position: fixed; width: 45%;">
    <ul  class="list-group">
      <li
        class="list-group-item"
        *ngFor="let caracteristica of tractor.caracteristicas"
        >{{ caracteristica.name }}: {{ caracteristica.amount }}</li>
    </ul>
  </div>
</div>
