<a
  style="cursor: pointer;"
  [routerLink]="[index]"
  routerLinkActive=""
  class="list-group-item clearfix"
  router>
    <div class="pull-left">
      <h4 class="list-group-item-heading">{{ tractor.name }}</h4>
      <p class="list-group-item-text">{{ tractor.description }}</p>
        <p class="list-group-item-text">{{ tractor.status }}</p>



    </div>
    <span class="pull-right">
      <img
        src="{{ tractor.imagePath }}"
        alt="{{ tractor.name }}"
        class="img-responsive"
        style="max-height: 50px;">
    </span>
  </a>
