<div class="row">
  <div class="col-xs-12" style="margin-top: 80px;">
    <h1 style="text-align: center; color: #0CC749;">Maquinaria Apartada</h1>
    <!--- <app-shopping-edit></app-shopping-edit> --->

    <ul class="list-group" style="margin-top: 20px;">
      <a
        class="list-group-item"
        style="..."
        *ngFor="let apartado of apartados; let i = index"
      >
        <div class="row">
          <div class="col-xs-10" style="height: auto; max-height: 150px;">
            <p>{{ apartado.description }}</p>

            <p>Status: {{ apartado.status }}</p>
            <h5>Precio: {{ apartado.precio }}</h5>
          </div>

          <div class="col-xs-2">
            <span class="pull-right">
              <img
                      src="{{ apartado.imagePath }}"
                      class="img-responsive"
                      style="max-height: 140px;">
            </span>
          </div>
        </div>
      </a>
    </ul>
  </div>
</div>
