#logo-navbar {
    color: white;
    font-weight: bold;
}

.navbar-element {
    color: white;
}
.navbar-element:hover {
    text-decoration: underline;
    color: white;
    background-color: white;
    opacity: 0.5;
}
