<nav class="navbar navbar-default" style="position: fixed; width: 100%; z-index: 1;">
  <div class="container-fluid" style="background-color: #0CC749;">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand active" id="logo-navbar">AgroRent</a>
    </div>

      <div class="navbar-default">
        <ul class="nav navbar-nav">
        <li routerLinkActive="active" class="navbar-element"><a routerLink="/recipes">Catálogo</a></li>
        <li routerLinkActive="active" class="navbar-element"><a routerLink="/shopping-list">Apartado</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <ng-template [ngIf]="!authService.isAuthenticated()">
              <li><a class="sign" routerLink="/signup" style="color: white;">Registro</a></li>
              <li><a class="sign" routerLink="/signin" style="color: white;">Login</a></li>

          </ng-template>
          <li><a 
            style="cursor: pointer;" 
            (click)="onLogout()" 
            *ngIf="authService.isAuthenticated()">Logout</a></li>
          <li class="dropdown" appDropdown *ngIf="authService.isAuthenticated()">
            <a style="cursor: pointer;" class="dropdown-toogle navbar-element" role="button">Cuenta<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a style="cursor: pointer;" (click)="onSaveData()">Save Data</a></li>
              <li><a style="cursor: pointer;" (click)="onFetchData()">Fetch Data</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </div>
</nav>
