<div class="row">
  <div class="col-xs-12" style="position: fixed;">
    <img [src]="tractor.imagePath" alt="{{ tractor.name }}" id="recipe-img" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 style="position: fixed; color: white; margin-left: 20px;">{{ tractor.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div
            class="btn-group"
            style="margin-top: 370px; position: fixed;">
      <button type="submit"  class="btn btn-success"  [disabled]="tractor.status != 'Libre'" style="margin-left: 10px;" (click)="onAddToApartadoPrueba()">Apartar</button>
      <button type="submit"  class="btn btn-success"  id="calcular" style="margin-left: 15px;">Calcular Precio</button>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-12" style="margin-top: 400px; position: fixed;">
    <label for="numHoras">Número de Horas deseadas</label>
    <input type="number" min="1" max="999999" id="numHoras" style="margin-left: 20px;">
  </div>
  <div class="col-xs-12" style="margin-top: 430px; position: fixed;">
    <label for="numHoras">Precio por Hora</label>
    <input type="number" min="1" max="999999" id="inputPrecio" style="margin-left: 100px;" value="{{ tractor.precio }}" placeholder="{{ tractor.precio }}">
  </div>
  <div class="col-xs-12" style="margin-top: 460px; position: fixed;">
    <p id="precio-display"><b>Precio Total:</b> $</p>
  </div>
  <br>
  <div class="col-xs-12" style="margin-top: 470px; position: fixed;">
    <p>Descripción: {{ tractor.description }}</p>
  </div>
  <br>
  <div class="col-xs-12" style="margin-top: 470px; position: fixed;">
    <p>Status: {{ tractor.status }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-top: 499px; position: fixed; width: 45%;">
    <ul  class="list-group">
      <li
              class="list-group-item"
              *ngFor="let caracteristica of tractor.caracteristicas"
      >{{ caracteristica.name }}: {{ caracteristica.amount }}</li>
    </ul>
  </div>
</div>
