<div class="row">
  <div class="col-xs-12" style="position: fixed;">
    <img [src]="tractor.imagePath" alt="{{ tractor.name }}" id="recipe-img" style="max-height: 300px">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h2 style="position: fixed; color: white; margin-left: 20px;">{{ tractor.name }}</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-top: 500px; position: fixed;">
    Precio: {{ tractor.precio }}
  </div>
  <br>
  <div class="col-xs-12" style="margin-top: 500px; position: fixed;">
    Descripción: {{ tractor.description }}
  </div>
  <br>
  <div class="col-xs-12" style="margin-top: 500px; position: fixed;">
    Status: {{ tractor.status }}
  </div>
  <button
          tyle="margin-top: 600px;"
          type="submit"
          class="btn btn-success"
          (ngSubmit)="onAddToApartadoPrueba()"
          [disabled]="tractor.status != 'Libre'">Apartar</button>
</div>
<div class="row">
  <div class="col-xs-12" style="margin-top: 530px; position: fixed; width: 45%;">
    <ul  class="list-group">
      <li
              class="list-group-item"
              *ngFor="let caracteristica of tractor.caracteristicas"
      >{{ caracteristica.name }}: {{ caracteristica.amount }}</li>
    </ul>
  </div>
</div>
